ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
}

li a {
    display: block;
    background-color: black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
}

p {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 0.85em;
    font-variant: small-caps;
}

h1 {
    text-align: right;
    display: block;
}

html:hover {
    background-color: black;
}